@model Surveyer.Models.Survey

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Survey</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SurveyColor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SurveyColor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SurveyColor, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SurveyType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SurveyType", null, htmlAttributes: new { @class = "form-control", @id = "d2", onchange = "func2()" })
            @Html.ValidationMessageFor(model => model.SurveyType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="u2" style="display:none">
        @Html.LabelFor(model => model.SurveyTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m=>m.SurveyTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SurveyTime, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.AllowAccess, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AllowAccess", null, htmlAttributes: new { @class = "form-control", @id = "d1", onchange = "func1()" })
            @Html.ValidationMessageFor(model => model.AllowAccess, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="u1" style="display:none">
        @Html.LabelFor(model => model.AllowAccess, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBox("Users", null, htmlAttributes: new { @class = "form-control", @type = "multiple" })
            @Html.ValidationMessageFor(model => model.AllowAccess, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("H", "FillSurvey", "Surveys", new { SurveyId = "4736a53f-1b92-4c83-bf9d-4bcd09690deb" }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function func1() {
        var selectstate = $('#d1').val();  
        if (selectstate == '1') {
            $('#u1').show();
        }
        else { $('#u1').hide(); }

    }

    function func2() {
        var selectstate = $('#d2').val();
        if (selectstate == '1') {
            $('#u2').show();
        }
        else { $('#u2').hide(); }

    }
</script>