@model IEnumerable<Surveyer.Models.SurveyResult>
@using GridMvc.Html
@using Surveyer.Models;
@{
    ViewBag.Title = "Statics";
}


<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Bootstrap.min.css")" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>

<h2> @ViewBag.t</h2>
<p> @ViewBag.d</p>
<hr />

@Html.Grid(Model).Columns(col=>
{

    col.Add(c => c.UserId).Titled("User").Filterable(true);
    col.Add(c => c.PublishDate).Titled("Publish Date").Filterable(true);
    col.Add().Titled("results").Encoded(false).Sanitized(false).RenderValueAs(o => Html.Grid(o.surveyItemResults).Columns(col2 => {col2.Add(c => c.Id).Titled("");col2.Add(c => c.Value).Titled(""); })) ;
    if (((int)ViewBag.ty) == 1)
    {
        col.Add(c => c.Id).Titled("Marks").Filterable(true);
    }

}).WithPaging(1000).Sortable(true)



